@{
    ViewData["Title"] = "Admin Portal";
}

<h1 class="seelanstyres-color text-center p-5">Admin Portal</h1>

<div class="container">
    <div class="row">
        <div class="admin-nav-div col-md-3 pb-5">
            <div>
                <ul class="nav nav-pills nav-stacked list-group">
                    <li><a class="list-group-item list-group-item-action list-group-item-dark" data-bs-toggle="pill" href="#database-pill">View Database</a></li>
                    <li><a class="list-group-item list-group-item-action list-group-item-dark" data-bs-toggle="pill" href="#tyres-pill">Tyres</a></li>
                    <li><a class="list-group-item list-group-item-action list-group-item-dark" data-bs-toggle="pill" href="#views-pill">Views</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div id="database-pill" class="tab-pane fade">
                    <h4 class="text-center mb-4">Database Structure</h4>
                    <partial name="_AdminBrandsTable" />
                    <partial name="_AdminTyresTable" view-data='@new ViewDataDictionary(ViewData) { { "IncludeEdit", false } }' />
                    <partial name="_AdminOrdersTable" view-data='@new ViewDataDictionary(ViewData) { { "NotDeliveredOnly", false } }' />
                </div>
                <div id="tyres-pill" class="tab-pane fade">
                    <h4 class="text-center mb-4">Tyres <a class="fa-solid fa-plus btn btn-dark" asp-controller="Admin" asp-action="AddTyre"></a></h4>
                    <partial name="_AdminTyresTable" view-data='@new ViewDataDictionary(ViewData) { { "IncludeEdit", true } }' />
                </div>
                <div id="views-pill" class="tab-pane fade">
                    <h4 class="text-center mb-4">Views</h4>
                    <partial name="_AdminOrdersTable" view-data='@new ViewDataDictionary(ViewData) { { "NotDeliveredOnly", true } }' />
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_ViewReceiptModal" />