# Folders
.vs/
.vscode/
build/
orchestration/volumes/
publish/
scripts/run/

#Files
efbundle.exe

version.txt

scripts/copy-publish-files.cmd
scripts/publish-all.cmd
scripts/run-all.cmd

# File extensions
.env
*.user