@using Microsoft.AspNetCore.Identity

@inject ICustomerServiceClient customerServiceClient

<ul class="navbar-nav">
@if (User.Identity!.IsAuthenticated)
{
    var customerId = Guid.Parse(User.Claims.Single(claim => claim.Type.EndsWith("nameidentifier")).Value);
    var customer = await customerServiceClient.RetrieveSingleAsync(customerId);
    var (firstName, lastName) = (customer.FirstName, customer.LastName);

    if (User.IsInRole("Administrator") is false)
    {
        <li class="nav-item ms-2 ms-md-0">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Index">@($"{firstName} {lastName}")</a>
        </li>
    }
    <li class="nav-item ms-2 ms-md-0">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item ms-2 ms-md-0">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
    </li>
    <li class="nav-item ms-2 ms-md-0">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
    </li>
}
</ul>
