@model RegisterModel

@{
    ViewData["Title"] = "Register";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="col-8 offset-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4 py-4 my-4">
    <h3 class="text-brand">Register</h3>
    <h4 class="text-brand">Create an account with us</h4>
    <hr class="mb-5"/>
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        <div class="col-md-12 mb-3">
            <label class="w-100" asp-for="FirstName">
                First Name
                <input type="text" class="form-control mt-2" asp-for="FirstName" placeholder="e.g. Shaylen">
            </label>
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="col-md-12 mb-3">
            <label class="w-100" asp-for="LastName">
                Last Name
                <input type="text" class="form-control mt-2" asp-for="LastName" placeholder="e.g. Reddy">
            </label>
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="col-md-12 mb-3">
            <label class="w-100" asp-for="Email">
                Email
                <input type="email" class="form-control mt-2" asp-for="Email" placeholder="e.g. user@gmail.com">
            </label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="col-md-12 mb-3">
            <label class="w-100" asp-for="PhoneNumber">
                Phone
                <input type="text" class="form-control mt-2" asp-for="PhoneNumber" placeholder="e.g. 0000000000">
            </label>
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="col-md-12 mb-3">
            <label class="w-100" asp-for="Password">
                Password
                <input type="password" class="form-control mt-2" asp-for="Password" placeholder="Enter Password">
            </label>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="col-md-12 mb-3">
            <label class="w-100" asp-for="ConfirmPassword">
                Confirm Password
                <input type="password" class="form-control mt-2" asp-for="ConfirmPassword" placeholder="Confirm Password">
            </label>
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
        <div class="text-center mb-2">
            <button type="submit" class="btn btn-dark w-50">Create Account</button>
        </div>
    </form>
    <hr class="mt-5"/>
</div>