@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="col-8 offset-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4 py-4 my-4">
    <h3 class="text-brand">Reset Password</h3>
    <h4 class="text-brand">Resetting your password requires you to enter a verification token</h4>
    <hr class="mb-5"/>
    @if (Model is null || Model.ResetPasswordModel is null)
    {
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="col-md-12 mb-3">
                <label class="w-100" asp-for="SendCodeModel!.Email">
                    Enter the email address you used to create your account
                    <input class="form-control mt-2" type="email" asp-for="SendCodeModel!.Email" placeholder="e.g. user@gmail.com">
                </label>
                <span asp-validation-for="SendCodeModel!.Email"></span>
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-dark w-50">Send Token</button>
            </div>
        </form>
    }
    else
    {
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
            <div class="col-md-12 mb-3">
                <label class="w-100" asp-for="ResetPasswordModel!.Email">
                    Email
                    <input class="form-control mt-2" type="email" asp-for="ResetPasswordModel!.Email" value="@Model.ResetPasswordModel.Email" readonly>
                </label>
                <span asp-validation-for="ResetPasswordModel!.Email"></span>
            </div>
            <div class="col-md-12 mb-3">
                <label class="w-100" asp-for="ResetPasswordModel!.Token">
                    Verification Token
                    <input class="form-control mt-2" asp-for="ResetPasswordModel!.Token">
                </label>
                <span asp-validation-for="ResetPasswordModel!.Token"></span>
            </div>
            <div class="col-md-12 mb-3">
                <label class="w-100" asp-for="ResetPasswordModel!.Password">
                    Enter your new password
                    <input class="form-control mt-2" type="password" asp-for="ResetPasswordModel!.Password" placeholder="Password">
                </label>
                <span asp-validation-for="ResetPasswordModel!.Password"></span>
            </div>
            <div class="col-md-12 mb-3">
                <label class="w-100" asp-for="ResetPasswordModel!.ConfirmPassword">
                    Confirm your new Password
                    <input class="form-control mt-2" type="password" asp-for="ResetPasswordModel!.ConfirmPassword" placeholder="Confirm Password">
                </label>
                <span asp-validation-for="ResetPasswordModel!.ConfirmPassword"></span>
            </div>
            <div class="text-center mb-3">
                <button class="btn btn-dark w-50">Reset Your Password</button>
            </div>
        </form>
    }
    <hr class="mt-5"/>
</div>