<table class="table table-bordered table-responsive-lg mb-4">
    <thead>
        <tr>
            <th class="table-dark text-center" colspan="5">Customers</th>
        </tr>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
