<table class="table table-bordered table-responsive-lg mb-4">
    <thead>
        <tr>
            <th class="table-dark text-center" colspan="5">Addresses</th>
        </tr>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Home</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">Postal Code</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>