@if (User.IsInRole("Administrator") && Url.RouteUrl(ViewContext.RouteData.Values) != Url.Action("Index", "Admin"))
{
    <script>
        window.location.href = "@Url.Action("Index", "Admin")";
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Seelan's Tyres</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body class="w-100 h-100 m-0 p-0">
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand seelanstyres-color m-2" asp-area="" asp-controller="Home" asp-action="Index">Seelan's Tyres</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Administrator") is false)
                        {
                            <li class="nav-item ms-2 ms-md-0">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item ms-2 ms-md-0">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Shop">Shop</a>
                            </li>
                            <li class="nav-item ms-2 ms-md-0">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Services">Services</a>
                            </li>
                            <li class="nav-item ms-2 ms-md-0">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                        }
                    </ul>
                    <hr class="d-block d-md-none" />
                    <div class="float-lg-right">
                        <ul class="navbar-nav mr-auto">
                            @if (User.IsInRole("Administrator") is false)
                            {
                                <li class="nav-item ms-2 ms-md-0">
                                    <a class="nav-link text-dark" href="https://www.facebook.com/Seelans-Tyres-Pry-Ltd-Ballito-976746385846679/"><i class="fab fa-facebook-f"></i> <span class="d-md-none">Visit Our Facebook Page</span></a>
                                </li>
                                <li class="nav-item ms-2 ms-md-0">
                                    <a class="nav-link text-dark" href="https://www.google.com/maps/place/Seelans+Tyres+Ballito/@@-29.5273443,31.1933777,17z/data=!4m5!3m4!1s0x1ef71570c3fb7215:0x716dd2fda5a3d8f6!8m2!3d-29.5273443!4d31.1955717"><i class="fas fa-map-marker-alt"></i> <span class="d-md-none">View us on Maps</span></a>
                                </li>
                            }
                            <partial name="_LoginPartial" />
                            @if (User.IsInRole("Administrator") is false)
                            {
                                <li class="nav-item ms-2 ms-md-0">
                                    <a class="nav-link text-dark" asp-controller="Shopping" asp-action="Cart">
                                        <i class="fas fa-shopping-cart">
                                            <span class="badge bg-secondary">0</span>
                                        </i>
                                        <span class="d-md-none"> View Your Cart</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
    @RenderBody()

    <footer class="border-top w-100 p-5 text-muted text-center">
        <div class="container">
            &copy; 2022 - Seelan's Tyres
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
