<div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="resetPasswordModal">Reset Your Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form name="sendCodeForm" id="sendCodeForm" class="sendCodeForm">
                    <div class="alert alert-danger fade show d-none" id="sc_alert_error" role="alert">
                        <span id="sc_errorMsg">...</span>
                    </div>
                    <div class="alert alert-info fade show" id="sci_alert_error" role="alert">
                        <span id="sci_infoMsg">Enter your email address to receive a code to reset your password</span>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" class="form-control" name="sc_email" id="sc_email" placeholder="e.g. user@gmail.com">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-dark w-50">Send Code</button>
                    </div>
                    <div class="text-center mt-3 mb-1">
                        <a class="modalLink w-50 text-decoration-none" href="#loginModal" data-bs-toggle="modal" data-bs-target="#loginModal">Return to login</a>
                    </div>
                </form>
                <form name="resetPasswordForm" id="resetPasswordForm" class="resetPasswordForm d-none">
                    <div class="alert alert-danger fade show d-none" id="rs_alert_error" role="alert">
                        <span id="rs_errorMsg">...</span>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" class="form-control" name="rs_email" id="rs_email" placeholder="e.g. user@gmail.com" disabled>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label" for="code">Secret Code</label>
                        <input type="code" class="form-control" name="rs_code" id="rs_code" placeholder="It's a Secret :D">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" class="form-control" name="rs_password" id="rs_password" placeholder="Enter Password">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label" for="confirm">Confirm Password</label>
                        <input type="password" class="form-control" name="rs_confirm" id="rs_confirm" placeholder="Confirm Password">
                    </div>
                    <div class="text-center">
                        <button class="btn btn-dark w-50">Reset Password</button>
                    </div>
                    <div class="text-center mt-3 mb-1">
                        <a class="modalLink w-50 text-decoration-none" href="#loginModal" data-bs-target="#loginModal" data-bs-toggle="modal">Return to login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>