@inject ITyresService tyresService

@{
    var brands = await tyresService.RetrieveAllBrandsAsync();
}

<table class="table table-bordered mb-4">
    <caption hidden>Brands</caption>
    <thead>
        <tr>
            <th class="table-dark text-center" colspan="2" scope="col">Brands</th>
        </tr>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var brand in brands!)
    {
        <tr>
            <th scope="col">@brand.Id</th>
            <td>@brand.Name</td>
        </tr>
    }
    </tbody>
</table>