<div class="text-center p-5">
    <h1 class="seelanstyres-color">Your Shopping Cart</h1>
</div>
<div class="container">
    <table class="table table-bordered table-responsive-md w-100">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total Item Cost</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="alert alert-danger text-center" role="alert">
        <p>You need to have an account to buy tyres</p>
        <p>Sign up or login to complete your purchase
        and add one address to your account</p>
    </div>
</div>