@{
    ViewData["Title"] = "About";
}

<div class="canvas w-100 py-md-4 d-flex align-items-center">
    <div class="about-div bg-white p-5 my-5 mx-auto">
        <h3 class="seelanstyres-color text-center mb-4">A Bit About Us</h3>
        <p>
            Seelan has been in the tyre industry for twenty-eight years 
            and worked for various tyre companies in that time 
            including Natyre, Trentyre, Quality Tyres, Kenfield Tyres, Supaquick 
            and finally Tyretrack for sixteen years. He then decided to venture out 
            and start a company of his own, Seelan’s Tyres, 
            which began operations on July 1st, 2018. 
            He has employed four staff members since then whose collective experience 
            totals to fifty-seven years in the industry. 
            The company makes use the latest tyre equipment to fit tyres as one of their many services. 
            Money to fund Seelan’s Tyres came from his pension fund and no loans were taken. 
            The company has been operating for eight months and has been breaking even 
            and paying all the expenses, namely: rent, water and electricity 
            and to pay the staff their salaries.
        </p>
        <p>
            Currently, the company has been managing their budget for the first two years 
            on a monthly basis to break-even and to make a minimal profit. 
            We want to expand the company in the third year of operations 
            by offering excellent services at great prices 
            to meet the needs of customers and branching out from Ballito 
            [their current base of operation] to Tongaat and Verulam and since 
            Seelan is well known, due to his previous jobs, he already has a loyal customer base.
        </p>
    </div>
</div>