@model LoginViewModel
@inject IConfiguration Configuration

<div class="login-page">
    <div class="lead">
        <h1>Login</h1>
        <p>Choose how to login</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>Local Account</h2>
                    </div>

                    <div class="card-body">
                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <div class="col-md-12 mb-3">
                                <label class="w-100" asp-for="Username">
                                    Email
                                    <input class="form-control mt-2" type="email" asp-for="Username" placeholder="Username" autofocus>
                                </label>
                            </div>

                            <div class="col-md-12 mb-3">
                                <label class="w-100" asp-for="Password">
                                    Password
                                    <input class="form-control mt-2" type="password" asp-for="Password" placeholder="Password">
                                </label>
                            </div>

                            @if (Model.AllowRememberLogin)
                            {
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" asp-for="RememberLogin">
                                    <label class="form-check-label" asp-for="RememberLogin">Remember Me</label>
                                </div>
                            }

                            <div class="text-center">
                                <button class="btn btn-primary w-50">Login</button>
                            </div>
                        </form>
                        <hr class="mt-4" />
                        <div class="text-center mb-2">
                            <a class="w-50 text-decoration-none" href="@($"{Configuration["Clients:SeelansTyresMvcClient:Url"]}/Account/ResetPassword")">I forgot my password</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h2>External Account</h2>
                    </div>
                    <div class="card-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li class="list-inline-item">
                                    <a class="btn btn-secondary"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-scheme="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this request.
            </div>
        }
    </div>
</div>