.seelanstyres-color {
    color: rgb(255, 40, 0) !important;
}

.seelanstyres-bg {
    background-color: rgb(255, 40, 0);
}

.modalLink {
    color: rgb(90, 90, 90);
}

.modalLink:hover {
    color: rgb(40, 40, 40);
}

.validation-summary-errors ul li {
    list-style: none;
}

.transition {
    transition: all 0.75s
}

/* start of home page css */

.welcome-sign {
    height: 550px;
    background: url("/images/home-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map-div iframe {
    height: 500px;
}

/* end of home page css */

/* start of the services page css */

.service-group {
    background-color: rgb(240, 240, 240);
}

.service {
    border-color: rgb(255, 40, 0) !important;
}

/* end of the services page css */

/* start of the about page css */

.canvas {
    background: url("/images/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-div {
    width: 550px;
}

/* end of the about page css */

/* start of the account page css */

.account-profile-pic {
    width: 100px;
    height: 100px;
    background: url("/images/user_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* end of the account page css */

@media (max-width: 768px) {
    /* start of about page css */

    .canvas {
        background: none;
    }

    .about-div {
        width: 100%;
    }

    /* end of about page css */
}