<ul class="list-unstyled">
    <li class="nav-item mx-2 ms-md-0">
        <a class="nav-link text-dark" asp-controller="Shopping" asp-action="Cart">
            <span class="fas fa-shopping-cart position-relative">
                <span class="ms-2 position-absolute top-0 start-100 translate-middle badge bg-dark rounded-pill bg-danger">
                    @ViewData["CartItemsCount"]
                </span>
            </span>
            <span class="d-md-none ms-4">View Your Cart</span>
        </a>
    </li>
</ul>